@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;
// так треба підключати scss-код компонентів


.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  padding: s.space(10);
}

.form-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: s.space(5);
  padding: s.space(5);
  border: 1px solid s.color(border);
  border-radius: 10px;
}

.purchase-update__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: s.space(4);
}

.field {
  display: flex;
  flex-direction: column;
  gap: s.space(1);
  width: 100%;
}

.field__label {
  font-size: 14px;
}

.field__input {
  border: 1px solid s.color(light);
  padding: s.space(2);
  border-radius: 10px;
}

.purchase-info__label {
  font-size: 16px;
  color: #5c6369;
  margin-bottom: s.space(3);
}

.purchase-info__value {
  font-size: 16px;
  color: #000000;
  margin-bottom: s.space(5);
}